li {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
